@use "mixin" as m;
@use "set";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #000;
  h1 {
    font-size: 50px;
    font-family: bungee, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    color: #fff;
  }
}
.main {
  li {
    &:not(:first-child) {
      margin-top: 30px;
    }
    &:last-child {
      font-size: 30px;
      text-align: center;
      padding: 30px 0;
    }
    span {
      font-family: bungee, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 45px;
    }
  }
}
.copy_app {
}
.copy_list {
  padding-bottom: 100px;
  .change {
    display: none;
  }
  pre {
    width: 94%;
    overflow-x: hidden;
  }
}
.tool_list{
	padding-bottom: 100px;
}
.tool_list{
  .change_tool{
    display: none;
  }
}
