html{
}
body{
	background-color: rgb(228, 227, 227);
}
a{
	color: rgb(70, 0, 67);
	font-size: 20px;
	font-family: ab-tsubaki, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
	font-family: ab-tsubaki, sans-serif;
    font-weight: 400;
    font-style: normal;
}