html{
}
body{
	background-color: rgb(228, 227, 227);
}
a{
	color: rgb(70, 0, 67);
	font-size: 20px;
	font-family: ab-tsubaki, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
	font-family: ab-tsubaki, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.frame{
	position: relative;
	background-color: #fff;
	margin: 70px 3%;
	padding: 50px 25px;
	border-radius: 20px;
	li{
		cursor: pointer;
		&:not(:first-child){
			margin-top: 30px;
		}	
	}
	.change_style {
		border-radius: 10px;
		margin-top: 10px;
		padding: 20px 10px;
		background-color: rgb(228, 227, 227);
	}
	button{
		position: absolute;
		right: 80px;
		bottom: 20px;
		padding: 10px;
		background-color: #000;
		color: #fff;
		font-family: ab-tsubaki, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 20px;	
	}
}
li{
	list-style-type: none;
	font-family: ab-tsubaki, sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 25px;
}
.center{
	margin-top: 50px;
	position: relative;
	text-align: center;
	&::before{
		position: absolute;
		left: 0;
		content: "";
		width: 100%;
		height: 50%;
		border-bottom: 3px solid #000;
	}

	h1{
		padding: 0 30px;
		justify-self: center;
		display: inline-block;
		position: relative;
		font-size: 40px;
		z-index: 2;
		background-color: rgb(228, 227, 227);
	}
}
